[train] #train parameters
epoch = 16
batch_size = 1

shuffle = True

reader_num = 16

optimizer = bert_adam
learning_rate = 1e-5
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 2

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BertQA
train_data_path = /data/disk3/private/zhx/theme/data/qa/origin/v1
train_file_list = 1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertQA
valid_data_path = /data/disk3/private/zhx/theme/data/qa/origin/v1
valid_file_list = 1_test.json

topk = 18
multi_choice = False

max_len1 = 64
max_len2 = 192

[model] #model parameters
model_name = BertQA

bert_path = /data/disk1/private/zhx/bert/chinese

hidden_size = 768

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/qa/typeb/single
model_name = BertQA

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
