[train] #train parameters
epoch = 32
batch_size = 128

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95

[eval] #eval parameters
batch_size = 128

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = Bert
train_data_path = /data/disk3/private/zhx/theme/data/element/format/divorce
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = Bert
valid_data_path = /data/disk3/private/zhx/theme/data/element/format/divorce
valid_file_list = test.json

max_seq_length = 512
word2id = /data/disk1/private/zhx/bert/chinese/vocab.txt

[model] #model parameters
model_name = CNN

hidden_size = 768
dropout = 0.8

bert_path = /data/disk1/private/zhx/bert/chinese/

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/ele/divorce
model_name = CNN

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
