[train] #train parameters
epoch = 160
batch_size = 12

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95

[eval] #eval parameters
batch_size = 12

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = HAF
train_data_path = /data/disk3/private/zhx/theme/data/qa/origin/v1
train_file_list = 1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = HAF
valid_data_path = /data/disk3/private/zhx/theme/data/qa/origin/v1
valid_file_list = 1_test.json

topk = 18
multi_choice = True

question_len = 64
option_len = 48
passage_len = 256

word2id = /data/disk1/private/zhx/bert/chinese/vocab.txt

[model] #model parameters
model_name = HAF

hidden_size = 256

bi_direction = True
num_layers = 2

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/qa/typeb/multi
model_name = HAF

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
