[train] #train parameters
epoch = 64
batch_size = 8

shuffle = True

reader_num = 16

optimizer = bert_adam
learning_rate = 1e-5
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 8

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BertSCM
train_data_path = /data/disk3/private/zhx/theme/data/scm/origin
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertSCM
valid_data_path = /data/disk3/private/zhx/theme/data/scm/origin
valid_file_list = valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = BertSCM
test_data_path = /data/disk3/private/zhx/theme/data/scm/origin
test_file_list = test.json

max_seq_length = 512

[model] #model parameters
model_name = SCMBert

bert_path = /data/disk1/private/zhx/bert/ms

hidden_size = 768

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/SCM/
model_name = Bert

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
