[train] #train parameters
epoch = 32
batch_size = 12

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95

[eval] #eval parameters
batch_size = 12

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = Bert
train_data_path = /data/disk3/private/zhx/theme/data/element/format/loan
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = Bert
valid_data_path = /data/disk3/private/zhx/theme/data/element/format/loan
valid_file_list = test.json

max_seq_length = 512
word2id = /data/disk1/private/zhx/bert/chinese/vocab.txt

tags = True
tag_path = /data/disk3/private/zhx/theme/data/element/format/loan/tags.txt

[model] #model parameters
model_name = BiDAF

hidden_size = 768
dropout = 0.2

bi_direction = True
num_layers = 2

bert_path = /data/disk1/private/zhx/bert/chinese/

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/ele/loan
model_name = BiDAF

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
