[train] #train parameters
epoch = 160
batch_size = 1

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 0.95

[eval] #eval parameters
batch_size = 1

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = ComatchQA
train_data_path = /data/disk3/private/zhx/theme/data/qa/cutted/v1/thulac
train_file_list = 0_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = ComatchQA
valid_data_path = /data/disk3/private/zhx/theme/data/qa/cutted/v1/thulac
valid_file_list = 0_test.json

topk = 18
multi_choice = True

word2id = /data/disk3/private/zhx/theme/data/qa/word2id.txt
sent_max_len = 25
max_sent = 50


[model] #model parameters
model_name = Comatch

hidden_size = 150

dropout = 0.2

[output] #output parameters
model_path = /data/disk3/private/zhx/theme/model/qa/typea/multi
model_name = Comatch

tensorboard_path = /data/disk3/private/zhx/theme/tensorboard

output_function = Basic
